@model Tuple <Systemet.Models.AnvändarKonton, ICollection<Systemet.Models.Grupp>, Systemet.Models.Evenemang, Systemet.Models.Uppgifter>
@{
    ViewBag.Title = "inloggad";
}

@if (Session["AnvändarID"] != null)
{
    <h4> Hejsan @Session["Förnamn"].ToString()</h4>
    <div>
        @Html.ActionLink("gå med i grupp", "gåmedigrupp", "Grupp")
    </div>
    <div>
        @Html.ActionLink("mina uppgifter", "Redigera", "Konto")
    </div>

    <div class="jumbotron">

       <h1>jumbotronen</h1>
    </div>

    
        @Html.DisplayName("Gruppnamn")
    foreach (var item in Model.Item2)
    {
        <div class="col-lg-6">
            <div class="well">

                @Html.DisplayFor(modelItem => item.GruppNamn)


            </div>
            </div>

    }

}


