@model Tuple <Systemet.Models.AnvändarKonton, ICollection<Systemet.Models.Grupp>>
@{
    ViewBag.Title = "inloggad";
}

@if (Session["AnvändarID"] != null)
{
    <h4> Hejsan @Session["Förnamn"].ToString()</h4>
    <div>
        @Html.ActionLink("gå med i grupp", "gåmedigrupp", "Grupp")
    </div>
    <div>
        @Html.ActionLink("mina uppgifter", "Redigera", "Konto")
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Gruppnamn")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GruppNamn)
                </td>                
            </tr>
        }
    </table>
}


