@model Systemet.Models.Evenemang

@{
    ViewBag.Title = "Delete";
}

<ol class="breadcrumb">
    <li><a href="~/Views/Konto/inloggad.cshtml">Start</a></li>
    <li><a href="~/Views/Grupp/minagrupper.cshtml">Mina Grupper</a></li>
    <li><a href="~/Views/Grupp/gruppsida.cshtml">Gruppsida</a></li>
    <li><a href="~/Views/Evenemangs/evenemangssida.cshtml">Evenemang</a></li>
    <li class="active">Radera Evenemang</li>
</ol>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evenemang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlutTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlutTid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
