@model Tuple <Systemet.Models.Evenemang, ICollection<Systemet.Models.EvenemangsKommentarer>>

@{
    ViewBag.Title = "evenemangssida";
    TempData["användarID"] = Convert.ToInt32(Session["AnvändarID"]);
}

<link rel="stylesheet" type="text/css" href="~/Content/comments.css">

<ol class="breadcrumb">
    <li>@Html.ActionLink("Startsidan", "inloggad", "Konto")</li>
    <li>@Html.ActionLink("Alla mina grupper", "minagrupper", "Grupp")</li>
    <li>@Html.ActionLink("Gruppens startsida", "gruppsida", "Grupp", new { Model.Item1.grupp.GruppNamn }, null)</li>
    <li class="active">Evenemang: @Model.Item1.Namn</li>
</ol>



<h2>@Model.Item1.Namn</h2>

<p>här ska man kunna se info om vart, när och hur. man ska kunna kommentera eventet och man ska kunna läsa tidigare kommentarer</p>



<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@*här börjar kommentarsfunktionen*@
<div class="container bootstrap snippet">
    <div class="col-sm-6">
        <!-- Begin tab comment and popular posts -->
        <div class="box-info full">

            <!-- Tab comments and popular posts -->

            @*<ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#comments" data-toggle="tab"><i class="fa fa-comments"></i> Senaste kommentarerna</a></li>
                <li><a href="#popular" data-toggle="tab"><i class="fa fa-star"></i> Viktigaste kommentarerna</a></li>
            </ul>*@

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Pane comments -->
                <div class="tab-pane active animated fadeInRight" id="comments">
                    <!-- Begin scroll wrappper -->
                    <div class="slimScrollDiv">
                        <div class="scroll-widget">
                            <ul class="media-list">

                                @foreach (var item in Model.Item2)
                                {
                                    <li class="media">
                                        <a class="pull-left" href="#fakelink">
                                            <span class="glyphicon glyphicon-knight"></span>
                                           
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading" style="cursor: default"><a>@item.kommentator.HelaNamnet</a> <small>@item.TidenFörKommentaren.ToShortTimeString()</small></h4>
                                            <p>@item.Text</p>
                                        </div>
                                    </li>
                                }
                            </ul>

                        </div>
                    <div class="slimScrollBar"></div><div class="slimScrollRail"></div>

                    </div><!-- End div .scroll-widget -->

                    <div class="box-footer">
                        <p><a href="#fakelink"><i class="fa fa-share"></i> Se alla kommentarer</a></p>
                    </div>
                </div><!-- End div .tab-pane -->
            </div><!-- End div .tab-content -->
        </div><!-- End div .box-info .full -->
        <!-- End tab comment and popular posts -->
    </div>
</div>



<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" 
        onclick="location.href='@Url.Action("komments", "EvenemangsKommentarers", new { id = Model.Item1.EvenemangID }, null)'">
    Launch demo modal
</button>*@




@* Create a link that calls the controller method that returns the partial view*@
@Html.ActionLink("Skriv kommentar", "komments", "EvenemangsKommentarers", new { id = Model.Item1.EvenemangID }, new
{
    @* Needed to link to the html of the modal*@
data_target = "#modal-container",
    @* Tells the bootstrap javascript to do its thing*@
    data_toggle = "modal"
})


