@model Systemet.Models.Uppgifter

@{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel='stylesheet' type='text/css' href='css/timepicker.css' />
    ViewBag.Title = "Create";
    TempData["nygrupp"] = ViewBag.gruppnamnet;
}

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li>@Html.ActionLink("Startsidan", "inloggad", "Konto")</li>
    <li>@Html.ActionLink("Alla mina grupper", "minagrupper", "Grupp")</li>
    <li>@Html.ActionLink("Gruppens startsida", "gruppsida", "Grupp", null, null)</li>
    <li class="active">Skapa uppgift</li>
</ol>


<h2>Skapa uppgift åt gruppen</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Uppgifter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Namn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Namn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beskrivning, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Beskrivning, 10, 55, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Beskrivning, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slutdatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Slutdatum, htmlAttributes: new { id = "datetimepickerfinal", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Slutdatum, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type='text/javascript' src='js/jquery.js'></script>

    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Date").datepicker({ minDate: 0 });
            $("#FinalRegistrationDate").datepicker({ minDate: 0 });
            $("#datetimepicker").datetimepicker();
            $("#datetimepickerfinal").datetimepicker();
        });
    </script>

}
