@model Tuple <Systemet.Models.Uppgifter, Systemet.Models.Grupp>

@{
    ViewBag.Title = "UppgiftsSida";
}
<ol class="breadcrumb">
    <li><a href="~/Views/Konto/inloggad.cshtml">Start</a></li>
    <li><a href="~/Views/Grupp/minagrupper.cshtml">Mina Grupper</a></li>
    <li><a href="~/Views/Grupp/gruppsida.cshtml">Gruppsida</a></li>
    <li class="active">Uppgift: @Model.Item1.Namn</li>
</ol>

<h2>UppgiftsSida</h2>


<dt>
    @Html.DisplayNameFor(model => model.Item1.Namn)
</dt>

<dd>
    @Html.DisplayFor(model => model.Item1.Namn)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Item1.Beskrivning)
</dt>

<dd>
    @Html.DisplayFor(model => model.Item1.Beskrivning)
</dd>

@if (Model.Item1.Ansvarig == null)
{
    <dt>
        @Html.DisplayNameFor(model => model.Item1.Ansvarig)
    </dt>
    <dd>
        <p>Ingen har tagit på sig den här uppgiften än</p>
    </dd>

    if (Convert.ToInt32(Session["AnvändarID"]) == Model.Item1.TillhörGrupp.LedareID)
    {
        <dt>
        </dt>
        <dd>
            @Html.DropDownList("AnsvarigaNamn", null, new { @class = "form-group", @id = "vald" } )
        </dd>
        
    }
    else
    {
        <dt>
            @Html.Display("välj om du vill ta på dig den här skiten")
        </dt>
        <dd>
            @*@Html.RadioButtonFor()*@
        </dd>
    }
}
else
{
    <dt>
        @Html.DisplayNameFor(model => model.Item1.Ansvarig)
    </dt>

    <dd>
        <p>@Html.DisplayFor(model => Model.Item1.Ansvarig.FörNamn)  @Html.DisplayFor(model => Model.Item1.Ansvarig.EfterNamn)</p>
    </dd>
}

<dd>
@Html.ActionLink("Edit", "Edit", new { id = Model.Item1.UppgifterID}) |
@Html.ActionLink("Delete", "Delete", new { id = Model.Item1.UppgifterID })
</dd>

