@model Tuple <Systemet.Models.Uppgifter, Systemet.Models.Grupp>

@{
    ViewBag.Title = "UppgiftsSida";
}
<ol class="breadcrumb">
    <li><a href="~/Views/Konto/inloggad.cshtml">Start</a></li>
    <li><a href="~/Views/Grupp/minagrupper.cshtml">Mina Grupper</a></li>
    <li><a href="~/Views/Grupp/gruppsida.cshtml">Gruppsida</a></li>
    <li class="active">Uppgift: @Model.Item1.Namn</li>
</ol>

<h2>UppgiftsSida</h2>



    <dt>
        @Html.DisplayNameFor(model => model.Item1.Namn)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Item1.Namn)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Item1.Beskrivning)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Item1.Beskrivning)
    </dd>





@using (Html.BeginForm("läggtillanvändaretilluppgift", "Uppgifter", FormMethod.Post))
{

    if (Model.Item1.Ansvarig == null)
    {

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Ansvarig)
        </dt>
        <dd>
            <p>Ingen har tagit på sig den här uppgiften än</p>
        </dd>

        if (Convert.ToInt32(Session["AnvändarID"]) == Model.Item1.TillhörGrupp.LedareID)
        {
            <dt>
            </dt>
            <dd>
                <div class="form-group">
                    @*@Html.DropDownList("HelaNamnet", ViewBag.medlemmar as SelectList, "Välj", new { @class = "form-control", @id = "vald", @value = "AnsvarigaNamn" })*@
                    @Html.DropDownListFor(m => m.Item2.GruppMedlemmar, new SelectList(ViewBag.medlemmar, "AnvändarID", "HelaNamnet"), "Välj en fårskalle", new { @class = "form-control", @id = "vald", @value = "AnsvarigaNamn" })
                    @*@Html.DropDownListFor(m => m.Item2.GruppMedlemmar, new SelectList(ViewBag.medlemmar, "AnvändarID", "HelaNamnet"), "Välj en fårskalle", new { @class = "form-control", @id = "vald", @value = "AnsvarigaNamn" })*@
                    @*@Html.DropDownList("AnsvarigaNamn", null, new { @class = "form-control", @id = "vald", @value = "AnsvarigaNamn" })*@
                </div>
            </dd>

        }
        else
        {
            <dt>
                @Html.Display("välj om du vill ta på dig den här skiten")
            </dt>
            <dd>
                här ska man kunna välja om man vill ta på sig eländet
            </dd>
        }
    }
    else
    {
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Ansvarig)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => Model.Item1.Ansvarig.FörNamn)  @Html.DisplayFor(model => Model.Item1.Ansvarig.EfterNamn)
            </p>
        </dd>
    }

    <dt> 
        @*<input id="Submit1" type="submit" value="submit" />*@
        <input  type="submit" id="Submit1"  value="submit" />
    </dt>
}

<dd>
@Html.ActionLink("Edit", "Edit", new { id = Model.Item1.UppgifterID}) |
@Html.ActionLink("Delete", "Delete", new { id = Model.Item1.UppgifterID })
</dd>

@section Scripts {
    <script type="text/javascript">

        function hideOnLoad() {
            $('#Submit1').hide();
        }

        $(document).ready(function () {
            hideOnLoad();

            $('#vald').change(function () {
                var AnsvarigaNamn = $(this).val();

                if (AnsvarigaNamn >= '1') {
                    $('#Submit1').show();
                }
                else {
                    hideOnLoad();
                }
            });
        });
    </script>
}