@model Systemet.Models.Uppgifter

@{
    ViewBag.Title = "UppgiftsSida";
}
<ol class="breadcrumb">
    <li><a href="~/Views/Konto/inloggad.cshtml">Start</a></li>
    <li><a href="~/Views/Grupp/minagrupper.cshtml">Mina Grupper</a></li>
    <li><a href="~/Views/Grupp/gruppsida.cshtml">Gruppsida</a></li>
    <li class="active">Uppgift: @Model.Namn</li>
</ol>

<h2>UppgiftsSida</h2>


<dt>
    @Html.DisplayNameFor(model => model.Namn)
</dt>

<dd>
    @Html.DisplayFor(model => model.Namn)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Beskrivning)
</dt>

<dd>
    @Html.DisplayFor(model => model.Beskrivning)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Ansvarig)
</dt>

<dd>
    <p>@Html.DisplayFor(model => Model.Ansvarig.FörNamn)  @Html.DisplayFor(model => Model.Ansvarig.EfterNamn)</p> 
</dd>

