@model Systemet.Models.ViewModels.GruppViewModel

@{
    ViewBag.Title = "UppgiftsSida";
}
<ol class="breadcrumb">
    <li><a href="~/Views/Konto/inloggad.cshtml">Start</a></li>
    <li><a href="~/Views/Grupp/minagrupper.cshtml">Mina Grupper</a></li>
    <li><a href="~/Views/Grupp/gruppsida.cshtml">Gruppsida</a></li>
    <li class="active">Uppgift: @Model.uppgift.Namn</li>
</ol>

<h2>UppgiftsSida</h2>



<dt>
    @Html.DisplayNameFor(model => Model.uppgift.Namn)
</dt>

<dd>
    @Html.DisplayFor(model => Model.uppgift.Namn)
</dd>

<dt>
    @Html.DisplayNameFor(model => Model.uppgift.Beskrivning)
</dt>

<dd>
    @Html.DisplayFor(model => Model.uppgift.Beskrivning)
</dd>




@if (Model.uppgift.Ansvarig == null)
{

    <dt>
        @Html.DisplayNameFor(model => Model.uppgift.Ansvarig)
    </dt>
    <dd>
        <p>Ingen har tagit på sig den här uppgiften än</p>
    </dd>

    if (Convert.ToInt32(Session["AnvändarID"]) == Model.uppgift.TillhörGrupp.LedareID)
    {
        using (Html.BeginForm("läggtillanvändaretilluppgift", "Uppgifter", FormMethod.Post))
        {
            <dt>
            </dt>
            <dd>
                <div class="form-group">
                  
                  
                    @Html.DropDownListFor(m => m.användareID, Model.lemmar, "Välj en fårskalle", new { @class = "form-control", @id = "vald", @value = "AnvändarID",  })
                  
                </div>
            </dd>
            <dt>
                <input type="submit" id="Submitknappen" value="Lägg till" />
            </dt>
        }
    }
    else
    {
        <dt>
            @Html.Display("välj om du vill ta på dig den här skiten")
        </dt>
        <dd>
            här ska man kunna välja om man vill ta på sig eländet
        </dd>
    }
}
else
{
    <dt>
        @Html.DisplayNameFor(model => model.uppgift.Ansvarig)
    </dt>

    <dd>
        <p>
            @Html.DisplayFor(model => model.uppgift.Ansvarig.HelaNamnet)
        </p>
    </dd>
}


<dd>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uppgift.UppgifterID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.uppgift.UppgifterID })
</dd>

@section Scripts {
    <script type="text/javascript">

        function hideOnLoad() {
            $('#Submitknappen').hide();
        }

        $(document).ready(function () {
            hideOnLoad();

            $('#vald').change(function () {
                var AnvändarID = $(this).val();

                if (AnvändarID >= '1') {
                    $('#Submitknappen').show();
                }
                else {
                    hideOnLoad();
                }
            });
        });
    </script>
}