@model Tuple <Systemet.Models.Grupp, ICollection<Systemet.Models.Evenemang>>
@{
    ViewBag.Title = "Gruppsida";
}

<h2>@Model.Item1.GruppNamn</h2>
@Html.ActionLink("skapa evenemang", "Create", "Evenemangs")

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Evenemang")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
            
                <a href="@Url.Action("evenemangssida", "Evenemangs", new { idet = item.EvenemangID @*EvenemangID = item.EvenemangID*@ })" title="@item.EvenemangID">
                    @item.Namn
                </a> 
            </td>
        </tr>
    }
</table>

<p>här ska det finnas information om dina uppgifter</p>
<p>här ska det finnas notiser om meddelanden mm</p>
