@model IEnumerable<Systemet.Models.Grupp>

@{
    ViewBag.Title = "minagrupper";
}

<h2>minagrupper</h2>

<p></p>

<p>
    @Html.ActionLink("Skapa ny grupp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GruppNamn)
        </th>
        <th>
            <div>Gör saker</div>
            @*@Html.DisplayNameFor(model => model.LedareID)*@
        </th>
        <th></th>
    </tr>



@foreach (var item in ViewBag.minagrupper) {
    <tr>
        <td>
            <a href="@Url.Action("gruppsida")" title="@item.GruppNamn">
                @item.GruppNamn
            </a>          
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GruppID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GruppID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GruppID })
        </td>
    </tr>
}

</table>
