@using Systemet.Models
@if (Session["AnvändarID"] != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                
                @Html.ActionLink("Hej " + Session["Förnamn"].ToString() + "!", "Redigera", "Konto", new { area = "" }, new { @class = "navbar-brand" })
            </li>              
            <li>
                @Html.ActionLink("Grupper", "minagrupper", "Grupp", new { area = "" }, new { @class = "navbar-brand" })
            </li>
            
            <li>
                @Html.ActionLink("Logga ut", "LogOut", "Konto", new { area = "" }, new { @class = "navbar-brand" })
            </li>
           
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Registrera", "Register", "Konto", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Konto", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "navbar-brand" })</li>*@
    </ul>
}
