@model Systemet.Models.EvenemangsKommentarer

@{
    ViewBag.Title = "Create";

}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Startsidan", "inloggad", "Konto")</li>
    <li>@Html.ActionLink("Alla mina grupper", "minagrupper", "Grupp")</li>
    <li>@Html.ActionLink("Gruppens startsida", "gruppsida", "Grupp", new { Model.evenemang.grupp.GruppNamn }, null)</li>
    <li>@Html.ActionLink("Evenemanget", "evenemangssida", "Evenemangs", new { Model.evenemang.Namn }, null)</li>
    <li class="active">Kommentarer: @Model.evenemang.Namn</li>
</ol>


@using (Html.BeginForm(new { id = @ViewBag.rättevent.EvenemangID }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Skriv kommentar för @ViewBag.rättevent.Namn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="OK" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

