@model Systemet.Models.GruppFörfrågan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GruppFörfrågan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Godkänd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godkänd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FörfråganID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
