@model Tuple<Systemet.Models.AnvändarKonton, List<Systemet.Models.Grupp>, List<Systemet.Models.Evenemang>, List<Systemet.Models.Uppgifter>>
@{

    <link rel="stylesheet" href="~/Content/agenda.css">
    ViewBag.Title = "inloggad";
}

@if (Session["AnvändarID"] != null)
{

    <div class="jumbotron">

        <h2> Välkommen @Session["Förnamn"].ToString()</h2>
        <div>
            <span class="glyphicon glyphicon-tag"></span>
            @Html.ActionLink("gå med i grupp", "gåmedigrupp", "Grupp")
        </div>
        <div>
            <span class="glyphicon glyphicon-user"></span>
            @Html.ActionLink("mina uppgifter", "Redigera", "Konto")
        </div>

    </div>

    foreach (var item in Model.Item2)
    {
        if (item.Evenemang.Count() != 0)
        {
            <div class="col-sm-6">

                @using (Html.BeginForm("gruppsida", "Grupp", new { item.GruppNamn }))
                {


                    var utvalt = Model.Item3.Where(u => u.grupp.GruppID == item.GruppID).OrderBy(u => u.Tidpunkt).Take(3).ToList();

                    <input type="submit" value="@item.GruppNamn" class="btn btn-lg btn-danger" id="gruppknapp" style="font-size:x-large"/>

                    <div class="container">

                        <div class="agenda">
                            <div class="table-responsive col-sm-6">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Datum</th>
                                            <th>Tid</th>
                                            <th>Evenemang</th>
                                        </tr>
                                    </thead>
                                    

                                        @foreach (var ev in utvalt)
                                        {
                                            <tbody>
                                                <tr class="table">
                                                    <td class="agenda-date" class="active" rowspan="@Model.Item2.Count()">
                                                        <div class="dayofmonth">@ev.Tidpunkt.Day/@ev.Tidpunkt.Month</div>
                                                        <div class="dayofweek">@ev.Tidpunkt.DayOfWeek</div>
                                                        <div class="shortdate text-muted">@ev.Tidpunkt.Year</div>
                                                    </td>
                                                    <td class="agenda-time">
                                                        @ev.Tidpunkt.ToShortTimeString();
                                                    </td>
                                                    <td class="agenda-events">
                                                        <div class="agenda-event">
                                                            @ev.Namn;
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                                @*@Html.DisplayFor(model => model.Item3 , new SelectList(Model.Item3, "id", "name"));*@

                                        }
                                            
                                </table>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="clearfix"></div>
        }
    }
}


