@model Tuple<Systemet.Models.AnvändarKonton, List<Systemet.Models.Grupp>, List<Systemet.Models.Evenemang>, List<Systemet.Models.Uppgifter>>
@{

    <link rel="stylesheet" href="~/Content/agenda.css">
    
    ViewBag.Title = "inloggad";
}

@if (Session["AnvändarID"] != null)
{

    <div class="jumbotron">

        <div class="row">
            <h2> Välkommen @Session["Förnamn"].ToString()</h2>
            <div class="col-lg-6">

                <div class="input-group pull-left">
                    <span class="glyphicon glyphicon-user input-group-btn"></span>
                    @Html.ActionLink("mina uppgifter", "Redigera", "Konto", htmlAttributes: new { @class = "form-control input-group pull-left btn-danger btn-primary" })
                </div>
            </div>


            <div class="col-lg-6">

                @using (Html.BeginForm("gåmedigrupp", "Grupp"))
                {
                    <div class="input-group pull-right">
                        @ViewBag.Sökning
                        @Html.TextBox("sökning", null, htmlAttributes: new { @id = "sökning", @class = "form-control input-group pull-right" })
                        <span class="input-group-btn">
                            <input type="submit" value="sökning" id="sökning" class="btn btn-secondary btn-danger" />
                        </span>
                    </div>

                }
            </div>

        </div>

    </div>

    foreach (var item in Model.Item2)
    {
        if (item.Evenemang.Count() != 0)
        {
            <div class="well-lg" style="background-color:#eee">

                @using (Html.BeginForm("gruppsida", "Grupp", new { item.GruppNamn }))
                {

                    var utvalt = Model.Item3.Where(u => u.grupp.GruppID == item.GruppID).OrderBy(u => u.Tidpunkt).Take(3).ToList();

                    <div class="container-fluid">

                        <input type="submit" value="@item.GruppNamn" class="btn btn-lg btn-danger" id="gruppknapp" style="font-size:x-large" />

                        @*START KALENDER*@
                        <div class="agenda">
                            <div class="table-responsive col-sm-6">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Datum</th>
                                            <th>Tid</th>
                                            <th>Evenemang</th>
                                        </tr>
                                    </thead>

                                    @foreach (var ev in utvalt)
                                    {
                                        <tbody>
                                            <tr class="table">
                                                <td class="agenda-date active" style="background-color:#eee" rowspan="@Model.Item2.Count()">
                                                    <div class="dayofmonth">@ev.Tidpunkt.Day/@ev.Tidpunkt.Month</div>
                                                    <div class="dayofweek">@ev.Tidpunkt.DayOfWeek</div>
                                                    <div class="shortdate text-muted">@ev.Tidpunkt.Year</div>
                                                </td>
                                                <td class="agenda-time" style="background-color:#eee">
                                                    @ev.Tidpunkt.ToShortTimeString();
                                                </td>
                                                <td class="agenda-events" style="background-color:#eee">
                                                    <div class="agenda-event">

                                                        <button class="btn btn-primary" type="button"
                                                                onclick="location.href='@Url.Action("evenemangssida", "Evenemangs", new { idet = ev.EvenemangID })'" title="@ev.EvenemangID">
                                                            @ev.Namn <span class="badge">@ev.Åsikter.Count()</span>
                                                        </button>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }

                                </table>
                            </div>

                        </div>
                        @*SLUT KALENDER*@

                        <div class="col-sm-6">

                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Uppgifter</th>
                                    </tr>
                                </thead>
                            </table>

                            @{var uppgifter = Model.Item4.Where(u => u.TillhörGrupp.GruppID == item.GruppID).ToList();}

                            @foreach (var uppg in uppgifter)
                            {
                                //uppgifter som inloggad är ansvarig för ska visas i rött, uppgifter som ingen tagit på sig ännu ska visas i blått

                                //om det är inloggad användare

                                if (uppg.Ansvarig.AnvändarID == Convert.ToInt32(Session["AnvändarID"]))
                                {
                                    if (uppg.Utförd == true)
                                    {

                                    }
                                    else
                                    {                                        
                                            <h3><span class="label label-success">@uppg.Namn</span></h3>                                        
                                    }
                                }
                                //om ingen är ansvarig
                                else if (uppg.Ansvarig.AnvändarID == 0)
                                {
                                    if (uppg.Utförd == true)
                                    {

                                    }
                                    else
                                    {                                        
                                            <h3><span class="label label-danger">@uppg.Namn</span></h3>                                       
                                    }
                                }
                                //om någon annan än inloggad är ansvarig
                                else if (uppg.Ansvarig.AnvändarID != Convert.ToInt32(Session["AnvändarID"]))
                                {
                                    if (uppg.Utförd == true)
                                    {

                                    }
                                    else
                                    {                                        
                                            <h3><span class="label label-default">@uppg.Namn</span></h3>                                       
                                    }
                                }
                            }
                        </div>
                    </div>
                     }
            </div>
            <div class="clearfix"></div>
                                        }
                                    }
                                }

        
@section Scripts { 

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
    $(function autocomplete() {
        $("#sökning").autocomplete({
            source: @Html.Raw(Json.Encode(ViewBag.allagrupper))
        });
    });
</script>


}
    

